
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Mohamed Imdhadullah</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/mohamed_imdhadullah.png' %}" >
					<hr>
					<h4>Hi I'm Mohamed Imdhadullah!</h4>
					<p><a href="mailto:mimdhadullah@gmail.com">mimdhadullah@gmail.com</a></p>
					<p><a href="tel:+91 81481 88727">+91 81481 88727</a></p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>JOB EXPOSURE</h4>
					<hr>
					<p>Worked as Software Programming Support Engineer at JayJay GroupCom Systems from December
						2017 to September 2020 (India) – 3 Years.</p>

					<p>Worked as Admin at Time To Time Technical Service LLC from June 2022 to January 2023 (Dubai-UAE)
						- 6 Months.</p>

					<p>Currently working as Data Entry at Cognousa From October 2023 (India)</p>

					<!--
						<ul class="social-links">
							<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
							<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
							<li><img class="social" src="{% static 'images/x.png' %}"></li>
							<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
						</ul> 
					-->

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Professional Course</h5>
					<hr>
					<p>Completed Python Fundamentals for Beginners course.</p>
					<p>Completed Front end Development – HTML and CSS.</p>
					<p>Completed Machine Learning Model Deployment using Flask course.</p>
					<p>Attended workshop on Basics of Web Development (PHP) conducted by APPIN technologies.</p>
					<p>Completed Hardware & Networking course.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript, React, Postgres, AWS and Mongo DB such as
						google maps, JavaScript charts and a whole bunch more I can’t possibly mention in one sentence!</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Career Objective</h5>
				<hr>
				<p> Driven web developer adept at contributing to highly collaborative work 
					environment and finding solutions. Proven experience developing consumer – focused 
					websites using HTML, CSS, JavaScript and PYTHON. Good knowledge of the best practices 
					for the web design, user experience, and speed.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>